# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
art/**/*.png filter=lfs diff=lfs merge=lfs -text
art/**/*.psd filter=lfs diff=lfs merge=lfs -text
art/**/*.kra filter=lfs diff=lfs merge=lfs -text
art/**/*.webp filter=lfs diff=lfs merge=lfs -text
art/**/*.jpg filter=lfs diff=lfs merge=lfs -text
